{% extends "base.html" %}
{% set active_page = "data-blocks" %}

{% block content %}

    <div class="container">

      <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Number of data blocks from each device</h3>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Device</th>
              <th>Data blocks</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td><a href="#v1751-boards">CAEN V1751 board 0</a></td>
              <td id="v1751-board-0-triggers"></td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td><a href="#v1751-boards">CAEN V1751 board 1</a></td>
              <td id="v1751-board-1-triggers"></td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td><a href="#mwpc">Multi-wire proportional chambers</a></td>
              <td id="mwpc-triggers"></td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td><a href="#wut">Wave union TDC</a></td>
              <td id="wut-triggers"></td>
            </tr>
            <tr>
              <th scope="row">5</th>
              <td>CAEN V1740 board 0</td>
              <td id="v1740-board-0-triggers"></td>
            </tr>
            <tr>
              <th scope="row">6</th>
              <td>CAEN V1740 board 1</td>
              <td id="v1740-board-1-triggers"></td>
            </tr>
            <tr>
              <th scope="row">7</th>
              <td>CAEN V1740 board 2</td>
              <td id="v1740-board-2-triggers"></td>
            </tr>
            <tr>
              <th scope="row">8</th>
              <td>CAEN V1740 board 3</td>
              <td id="v1740-board-3-triggers"></td>
            </tr>
            <tr>
              <th scope="row">9</th>
              <td>CAEN V1740 board 4</td>
              <td id="v1740-board-4-triggers"></td>
            </tr>
            <tr>
              <th scope="row">10</th>
              <td>CAEN V1740 board 5</td>
              <td id="v1740-board-5-triggers"></td>
            </tr>
            <tr>
              <th scope="row">11</th>
              <td>CAEN V1740 board 6</td>
              <td id="v1740-board-6-triggers"></td>
            </tr>
            <tr>
              <th scope="row">12</th>
              <td>CAEN V1740 board 7</td>
              <td id="v1740-board-7-triggers"></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 id="v1751-boards" class="panel-title">CAEN V1751 boards</h3>
        </div>
        <div class="panel-body text-center">
          <div id="v1751-board-0-trigger-histogram"></div>
          <div id="v1751-board-1-trigger-histogram"></div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 id="mwpc" class="panel-title">Multi-wire proportional chambers</h3>
        </div>
        <div class="panel-body text-center">
          <div id="mwpc-trigger-histogram"></div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 id="wut" class="panel-title">Wave union TDC</h3>
        </div>
        <div class="panel-body text-center">
          <div id="wut-trigger-histogram"></div>
        </div>
      </div>

    </div>

{% include 'scripts.html' %}

    <script src="{{ url_for('static', filename='js/trigger-table.js') }}"></script>
    <script src="{{ url_for('static', filename='js/trigger-histograms.js') }}"></script>

{% endblock %}
