{% extends "base.html" %}
{% set active_page = "mwpc" %}

{% block content %}

    <div class="container">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">MWPC 1</h3>
        </div>
        <div class="row text-center">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg-3" id="mwpc-tdc-01-timing-histogram"></div>
              <div class="col-lg-3" id="mwpc-tdc-02-timing-histogram"></div>
              <div class="col-lg-3" id="mwpc-tdc-03-timing-histogram"></div>
              <div class="col-lg-3" id="mwpc-tdc-04-timing-histogram"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">MWPC 2</h3>
        </div>
        <div class="row text-center">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg-3" id="mwpc-tdc-05-timing-histogram"></div>
              <div class="col-lg-3" id="mwpc-tdc-06-timing-histogram"></div>
              <div class="col-lg-3" id="mwpc-tdc-07-timing-histogram"></div>
              <div class="col-lg-3" id="mwpc-tdc-08-timing-histogram"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">MWPC 3</h3>
        </div>
        <div class="row text-center">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg-3" id="mwpc-tdc-09-timing-histogram"></div>
              <div class="col-lg-3" id="mwpc-tdc-10-timing-histogram"></div>
              <div class="col-lg-3" id="mwpc-tdc-11-timing-histogram"></div>
              <div class="col-lg-3" id="mwpc-tdc-12-timing-histogram"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">MWPC 4</h3>
        </div>
        <div class="row text-center">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg-3" id="mwpc-tdc-13-timing-histogram"></div>
              <div class="col-lg-3" id="mwpc-tdc-14-timing-histogram"></div>
              <div class="col-lg-3" id="mwpc-tdc-15-timing-histogram"></div>
              <div class="col-lg-3" id="mwpc-tdc-16-timing-histogram"></div>
            </div>
          </div>
        </div>
      </div>

    </div>

{% include 'scripts.html' %}

    <script src="{{ url_for('static', filename='js/mwpc-timing-histograms.js') }}"></script>

{% endblock %}
