{% extends "base.html" %}
{% set active_page = "v1751" %}

{% block content %}

    <div class="container">

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">V1751 TOF hits</h3>
        </div>
        <div class="panel-body text-center">
          <div id="v1751-tof-hit-histogram"></div>
        </div>
      </div>

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">V1751 board 0 ADC count histograms</h3>
        </div>
        <div class="panel-body text-center">
          <div id="v1751-board-0-channel-0-adc-count-histogram"></div>
          <div id="v1751-board-0-channel-1-adc-count-histogram"></div>
          <div id="v1751-board-0-channel-2-adc-count-histogram"></div>
          <div id="v1751-board-0-channel-3-adc-count-histogram"></div>
          <div id="v1751-board-0-channel-4-adc-count-histogram"></div>
          <div id="v1751-board-0-channel-5-adc-count-histogram"></div>
          <div id="v1751-board-0-channel-6-adc-count-histogram"></div>
          <div id="v1751-board-0-channel-7-adc-count-histogram"></div>
        </div>
      </div>

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">V1751 board 1 ADC count histograms</h3>
        </div>
        <div class="panel-body text-center">
          <div id="v1751-board-1-channel-0-adc-count-histogram"></div>
          <div id="v1751-board-1-channel-1-adc-count-histogram"></div>
          <div id="v1751-board-1-channel-2-adc-count-histogram"></div>
          <div id="v1751-board-1-channel-3-adc-count-histogram"></div>
          <div id="v1751-board-1-channel-4-adc-count-histogram"></div>
          <div id="v1751-board-1-channel-5-adc-count-histogram"></div>
          <div id="v1751-board-1-channel-6-adc-count-histogram"></div>
          <div id="v1751-board-1-channel-7-adc-count-histogram"></div>
        </div>
      </div>

    </div>

{% include 'scripts.html' %}

    <script src="{{ url_for('static', filename='js/v1751-tof-hit-histogram.js') }}"></script>
    <script src="{{ url_for('static', filename='js/v1751-adc-count-histograms.js') }}"></script>

{% endblock %}
